// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#letter {
  font-size: 24px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

#form {
  justify-content: space-around;
}

 body {
   text-align:left;
   font-family: verdana;
 }

 h1 {
   font-size: 15px;
   margin: 20px;
 }

//  h2 {
//    font-size: 10px;
//  }
